:root {
    --heading: font-family: 'Open Sans', sans-serif;
    --body: font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    hyphens: none;
    overflow-wrap: break-word;
    color: white;
}

body {
    padding: 3rem;
    background: #674bb1 url(./images/bg-desktop.svg) no-repeat center fixed;
    background-size: cover;
    display: grid;
}

.container {
    width: 90%;
    justify-self: center;
}

header > img {
    width: 15rem;
}


section {
    display: flex;
    margin-top: 4rem;
    gap: 2rem;
    place-self: center;
}

.mockups {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.mockups > img{
    width: 95%;
}

.description {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    margin-top: 3rem;
}

h1 {
    font-family: var(--heading);
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 2rem;
}

.description > p {
    font-family: var(--body);
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 1.5em;
    margin-bottom: 2rem;
}

.register {
    cursor: pointer;
    font-size: var(--body);
    font-size: 1.2em;
    color: #7c6bb9;
    padding: 1.3rem;
    border-radius: 2rem;
    background-color: white;
    width: 12em;
    -webkit-box-shadow: 3px 3px 26px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 26px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 26px -10px rgba(0, 0, 0, 0.75);
}

.register:hover {
    color: white;
    background-color: #e980e7;
}

.social {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 2rem;
    margin-top: 1.5rem;
}

.social > a > i {
    font-size: 2rem;
    color: white;
}

.social > a > i:hover {
    color: #e980e7;
}

@media (max-width: 480px) {
    body {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        color: white;
        background: #674bb1 url(./images/bg-mobile.svg) no-repeat  fixed;
        background-size: contain;
    }

    .container {
        width: 90%;
        align-self: center;
    }

    header > img {
        width: 10rem;
        align-self: center;
        margin-top: .8rem;
    }

    section {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .mockups > img {
        width: 100%;
        margin-top: 1rem;
    }

    .description {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: 0;
    }

    h1 {
        font-size: 2em;
    }

    .register {
        font-size: 1em;
        width: 16rem;
    }

    .social {
        justify-content: center;
        margin-top: 3rem;
    }
}